<ng-template appRef></ng-template>

<div class="container">
  <div class="level-info">
    <h2>ИНФОРМАЦИЯ ОБ УРОВНЕ</h2>

    <form [formGroup]="formGroupInfo">
      <div class="form-item">
        <label for="id">ID уровня</label>
        <input type="text" id="id" maxlength="20" innerIdText formControlName="id">
      </div>
      <div class="form-item">
        <label for="levelName">Название</label>
        <input type="text" id="levelName" formControlName="caption">
      </div>
      <div class="form-item">
        <label for="code_acceptation">Условия принятия кода</label>
        <textarea type="text" id="code_acceptation" formControlName="code_acceptation"></textarea>
      </div>

      <app-checkbox>
        <p class="checkbox-text">Уровень-ссылка</p>
      </app-checkbox>

      <app-checkbox>
        <p class="checkbox-text">Отслеживать геолокацию</p>
      </app-checkbox>

      <button class="filled accent" (click)="saveChanges()">СОХРАНИТЬ</button>
    </form>

  </div>
  <div class="condition" [class.theme-light]="isThemeLight()">
    <div class="scripts-box">
      <div class="pass">
        <h2>УСЛОВИЯ ПРОХОЖДЕНИЯ</h2>
        <div class="form-item">
          <label for="pass-script">Скрипт</label>
          <textarea id="pass-script" [ngModel]="currentLevel ? currentLevel.condition_script : null"
                    (ngModelChange)="currentLevel ? currentLevel.condition_script = $event : null"></textarea>
        </div>
      </div>

      <div class="failed">
        <h2>УСЛОВИЯ СЛИВА</h2>
        <div class="form-item">
          <label for="failed-script">Скрипт</label>
          <textarea id="failed-script" [ngModel]="currentLevel ? currentLevel.failed_condition_script : null"
                    (ngModelChange)="currentLevel ? currentLevel.failed_condition_script = $event : null"></textarea>
        </div>
      </div>
    </div>

    <div class="error-message" *ngIf="errorMessage.length > 0">
      <p>{{errorMessage}}</p>
    </div>

    <div class="result-box">
      <div class="pass">
        <div class="add-new-item" (click)="addSuccessResult()">
          <h2>РЕЗУЛЬТАТ ПРОХОЖДЕНИЯ</h2>
          <p>+</p>
        </div>

        <div class="table" *ngIf="currentLevel?.success_result_values.length > 0">
          <div class="row header">
            <div class="code">Код</div>
            <div class="type">Вид</div>
            <div class="value">Значение</div>
            <div class="buttons"></div>
          </div>
          <div class="row" *ngFor="let result of currentLevel.success_result_values">
            <div class="code">
              <input type="number" placeholder="Значение" [(ngModel)]="result.result_code">
            </div>
            <div class="type">
              <p-dropdown [options]="resultTypes" [(ngModel)]="result.result_type"
                          optionLabel="name" optionValue="code"></p-dropdown>
            </div>
            <div class="value">
              <input type="number" placeholder="Значение" [(ngModel)]="result.result_value">
            </div>
            <div class="buttons">
              <button class="delete" (click)="deleteResult(true, result)">+</button>
            </div>
          </div>
        </div>
      </div>
      <div class="failed">
        <div class="add-new-item" (click)="addFailedResult()">
          <h2>РЕЗУЛЬТАТ СЛИВА</h2>
          <p>+</p>
        </div>

        <div class="table" *ngIf="currentLevel?.failed_result_values.length > 0">
          <div class="row header">
            <div class="code">Код</div>
            <div class="type">Вид</div>
            <div class="value">Значение</div>
            <div class="buttons"></div>
          </div>
          <div class="row" *ngFor="let result of currentLevel.failed_result_values">
            <div class="code">
              <input type="number" placeholder="Значение" [(ngModel)]="result.result_code">
            </div>
            <div class="type">
              <p-dropdown [options]="resultTypes" [(ngModel)]="result.result_type"
                          optionLabel="name" optionValue="code"></p-dropdown>
            </div>
            <div class="value">
              <input type="number" placeholder="Значение" [(ngModel)]="result.result_value">
            </div>
            <div class="buttons">
              <button class="delete" (click)="deleteResult(false, result)">+</button>
            </div>
          </div>
        </div>
    </div>
    </div>

    <button class="filled accent" (click)="saveChanges()">СОХРАНИТЬ</button>
  </div>
</div>
