@import "src/app/shared/theme-colors/colors";

.main-container {
  min-height: calc(100vh - 211px);
}

button {
  background: none;
  border: none;
  color: $accent-color;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
