@import "../../../shared/theme-colors/theme";
@import "src/app/shared/responsive.mixin";

.container {
  margin: 0 auto;
  padding: 66px 0;

  .game-name-box {
    .game-name {
      margin-bottom: 42px;

      font-size: 18px;
      font-weight: 400;

      span {
        font-weight: 800;
      }
    }
  }

  .button-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 42px;

    button {
      margin-left: 35px;

      font-size: 16px;
      font-weight: 400;

      &.filled,
      &.outline {
        height: 36px;

        margin-left: 0;
        margin-right: 15px;
      }
    }
  }

  .main-game-settings {
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    .game-info {
      width: 100%;
      margin-bottom: 48px;

      transition-duration: 0.5s;

      h2 {
        margin-bottom: 20px;
      }

      input {
        width: 100%;
        height: 36px;

        margin: 0 0 23px 0;
      }

      .script-label-box {
        width: 100%;

        margin-bottom: 10px;

        display: flex;
        justify-content: space-between;

        label {
          margin-bottom: 0;
        }

        button {
          font-size: 16px;
          font-weight: 400;

          margin-left: 10px;

          color: $additional-color;
        }
      }

      textarea {
        height: 88px;
        margin-bottom: 25px;

        font-family: monospace;

        &.open {
          height: 242px;
        }
      }

      button.filled {
        width: 150px;
      }
    }

    .levels {
      width: 100%;

      h2 {
        margin-bottom: 20px;
      }

      .add-new-item-in-table {
        margin-bottom: 25px;
      }

      .table {
        width: 100%;

        .id, .name,
        .duration, .terms {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .id {
          width: 80px;
          margin-right: 40px;
        }

        .name {
          width: 290px;
          margin-right: 40px;
        }

        .terms {
          width: 240px;
          margin-right: 40px;
        }

        .buttons {
          width: 120px;

          padding: 0 12px;

          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }

  @include screen('desktop') {
    .main-game-settings {

      .levels .table {
        .id {
          width: 55px !important;
          margin: 0 30px 0 10px !important;
        }

        .name {
          width: 200px !important;
          margin-right: 30px !important;
        }

        .terms {
          width: 200px !important;
          margin-right: 30px !important;
        }

        .buttons {
          width: 105px;
        }
      }
    }
  }

  @include screen('tablet-landscape') {
    .button-box button {
      &.outline {
        padding: 8px 15px;
      }

      &:last-child {
        margin-left: 0;
      }
    }

    .main-game-settings .levels .table {
      .id {
        width: 30px !important;
        margin: 0 15px 0 0 !important;
      }

      .name {
        width: 110px !important;
        margin-right: 15px !important;
      }

      .terms {
        width: 140px !important;
        margin-right: 15px !important;
      }

      .buttons {
        width: 90px;
        padding: 0 10px 0 0;
      }
    }
  }

  @include screen('tablet-portrait') {
    .main-game-settings .levels .table {
      .id {
        width: 20% !important;
        margin-right: 10px !important;
      }

      .name {
        width: calc(80% - 90px) !important;
        margin-right: 10px !important;
      }

      .buttons {
        width: 90px !important;
      }

      .terms {
        display: none;
      }
    }
  }

  @include screen('phone') {
    padding-top: 0;

    .button-box {
      flex-direction: column;

      button {
        width: 100%;
        height: auto !important;
        margin: 0 0 15px 0 !important;
      }
    }

    .script-label-box button{
      font-size: 11px !important;
    }

    .add-new-item-in-table {
      flex-wrap: wrap;
      justify-content: center;

      p {
        margin: 0;
      }

      input {
        width: 40px;
        margin: 0 5px;
      }

      button {
        width: 60%;
        margin: 15px 10px 0 10px;
      }
    }
  }
}
