<ng-template appRef></ng-template>

<div class="container">
  <div class="users-box">
    <p class="user-name"><span>ИГРОК</span> {{user ? user.login : '???'}}</p>

    <div class="before-auth-box" *ngIf="!user, else afterAuthBox">
      <h1>СОЗДАЙ ПРОФИЛЬ И ВЫБЕРИ ИГРУ</h1>
      <div class="auth-button-box">
        <button class="accent" (click)="showAuthDialog(true)">РЕГИСТРАЦИЯ</button>
        <button (click)="showAuthDialog(false)">ВХОД</button>
      </div>
    </div>

    <ng-template #afterAuthBox>
      <div class="add-new-item" (click)="showNewTeamDialog()">
        <h2>МОИ КОМАНДЫ</h2>
        <p>+</p>
      </div>

      <div class="teams">
        <p-dropdown *ngIf="teams.length != 0" [options]="teams" [(ngModel)]="selectedTeam" (onChange)="setGameUnlockedMap()"
                    class="teams" optionLabel="name" optionValue="code" placeholder="Выбор команды">
        </p-dropdown>
      </div>

    </ng-template>
  </div>

  <div class="games-box">
    <h2>ТЕКУЩИЕ ИГРЫ</h2>

    <div class="current-game" *ngFor="let game of games"
         [class.unlocked]="user && game.game_state == 'started' && isGameUnlockedMap.get(game.id)">
      <div class="game-name-box">
        <h2 class="name">
          <span>#{{game.id}}</span> {{game.caption}}
        </h2>
        <button (click)="isGameOpenMap.set(game.id, !isGameOpenMap.get(game.id))"
                *ngIf="game.description">Описание</button>
      </div>
      <div class="game-info-box">
        <div class="info-item" *ngIf="game.author">
          <h3>Автор: </h3>
          <p>{{game.author}}</p>
        </div>
        <div class="info-item" *ngIf="game.beginningOfGame">
          <h3>Начало игры: </h3>
          <p>{{game.beginningOfGame}}</p>
        </div>
        <div class="info-item" *ngIf="game.endOfGame">
          <h3>Конец игры: </h3>
          <p>{{game.endOfGame}}</p>
        </div>
        <div class="additional-info" [class.open]="isGameOpenMap.get(game.id)">
          <div class="info-item">
            <h3>Описание: </h3>
            <p>{{game.description}}</p>
          </div>
        </div>
      </div>
      <button (click)="user ? applyOrGoToTheGame(game.id) : showAuthDialog(false); "
              class="accent">{{setGameButtonState(game.id)}}</button>
    </div>
  </div>
</div>
