@import "../../../shared/theme-colors/theme";
@import "src/app/shared/responsive.mixin";

.container {
  margin: 0 auto;
  padding: 66px 0;

  #second-table,
  #second-code {
    display: none;
  }

  .game-name-box {
    width: 100%;
    margin-bottom: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid $accent-color;

    .game-name {
      font-size: 18px;
      font-weight: 400;

      span {
        font-weight: 800;
      }
    }
  }

  .geo-info {
    display: flex;
    justify-content: right;
    color: $accent-color;
    text-align: right;

    &:last-of-type {
      font-size: 12px;
    }
  }

  .map-box {
    .map {
      width: 100%;
      height: 200px;
      margin-top: 10px;
    }

    button {
      margin-top: 12px;
    }
  }

  .level-name {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .code-container {
    display: flex;
    justify-content: space-between;

    input {
      width: calc(100% - 55px);
      height: 40px;
    }

    button {
      width: 40px;
      height: 40px;
      padding: 0;
    }
  }

  .game-info-element {
    margin-top: 25px;

    p.label {
      color: $accent-color;
      margin-bottom: 12px;
    }

    .error-box {
      height: 22px;
      margin-top: 10px;
    }
  }

  .game-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .game-info-box {
      display: flex;
      flex-direction: column;

      &.general {
        width: 350px;
      }

      &.task {
        width: calc(100% - 400px);
      }

      h2.task {
        margin-top: 2px;
      }


    }

    .custom-scroll {
      width: 100%;
      max-height: 300px;

      margin-top: 40px;

      display: flex;
      flex-wrap: nowrap;

      overflow-y: scroll;

      .table {
        width: 100%;
        margin: 0;

        .row {
          width: 100%;

          div {
            width: 100%;
          }
        }
      }
    }
  }

  @include screen('desktop') {
    .game-box .game-info-box {
      &.general {
        width: 220px;
      }

      &.task {
        width: calc(100% - 250px);
      }
    }
  }

  @include screen('tablet-landscape') {
    padding-bottom: 10px;

    .level-name {
      justify-content: center;
    }

    .geo-info:last-of-type {
      font-size: 10px;
    }

    .game-box {
      flex-direction: column;

      .game-info-box {
        &.general {
          width: 100%;
          margin-bottom: 45px;

          .code {
            background: var(--background-color);
            position: sticky;
            bottom: 0;
          }
        }

        &.task {
          width: 100%;
        }
      }

      #first-table {
        display: none;
      }

      #second-table {
        display: flex;
      }
    }

    #first-code {
      display: none;
    }

    #second-code {
      position: sticky;
      bottom: 0;

      display: flex;
      flex-direction: column;

      width: 100%;
      padding: 25px 0;
      background: var(--background-color);

      z-index: 1000;
    }
  }

  @include screen('tablet-portrait') {
    .level-name {
      justify-content: flex-start;
    }
  }

  @include screen('phone') {
    padding-top: 0;

    .game-info-element {
      p:not(.label) {
        overflow-wrap: break-word;
      }

      .code-container {
        input {
          border-right: none;
          width: calc(100% - 40px);
        }

        button {
          background: none;
          border: 1px solid var(--text-color);
          color: $accent-color;
        }
      }
    }
  }
}

