<div class="container">
  <div class="game-name-box">
    <p class="game-name"><span>ИГРА </span>{{gameName}}</p>
  </div>

  <div class="level-name">
    <p-dropdown [options]="levelsOption" [(ngModel)]="actualLevel" (onChange)="setActualLevel()"
                optionLabel="name" optionValue="code" class="main-level"></p-dropdown>
    <p-dropdown [disabled]="childLevelsOption.length < 2" [options]="childLevelsOption"
                [(ngModel)]="actualChildLevel" (onChange)="setActualData($event.value)"
                optionLabel="name" optionValue="code"></p-dropdown>
  </div>

  <div class="game-box">
    <div class="game-info-box general">
      <div class="game-info-element">
        <p class="label">Код уровня:  </p>
        <div class="code-container">
          <input type="text" placeholder="Код"
                 [(ngModel)]="code" (keydown.enter)="se()">
          <button class="filled accent mdi mdi-24px mdi-send"
                  title="Отправить" (click)="se()"></button>
        </div>
        <div class="error-box">{{errorMessage}}</div>
      </div>
      <div class="condition">
        <div class="game-info-element">
          <p class="label">Текущее количество очков:</p>
          <div class="scores" *ngFor="let score of scores | keyvalue">
            {{setScore(score)}}
          </div>
        </div>
        <div class="game-info-element">
          <p class="label">Условия прохождения:</p>
          <p>{{passCondition ? passCondition : 'Условия не определены'}}</p>
        </div>
        <div class="game-info-element">
          <p class="label">Условия слива:</p>
          <p>{{failedCondition ? failedCondition : 'Условия не определены'}}</p>
        </div>
        <div class="game-info-element">
          <p class="label">Условия принятия кода:</p>
          <p>{{codeAcceptationScript ? codeAcceptationScript : 'Условия не определены'}}</p>
        </div>
      </div>
      <div class="custom-scroll" id="first-table">
        <div class="table" *ngIf="codesInfo">
          <div class="code" *ngFor="let info of codesInfo">
            <div class="row">
              <div>{{info.count}}</div>
            </div>
            <div class="row">
              <div>{{info.info}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="game-info-box task">
      <h2 class="task">ЗАДАНИЕ</h2>
      <div class="game-info-element" [innerHtml]="task">
      </div>
    </div>
    <div class="custom-scroll" id="second-table">
      <div class="table" *ngIf="codesInfo">
        <div class="code" *ngFor="let info of codesInfo">
          <div class="row">
            <div>{{info.count}}</div>
          </div>
          <div class="row">
            <div>{{info.info}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
