<app-dialog (close)="close.emit()">
  <div class="header">
    <p>Изменение пароля</p>
  </div>
  <div class="form-container">
    <form [formGroup]="formGroupChangePassword">
      <div class="errorMessageBox">
        {{errorMessageText}}
      </div>
      <div class="dialogFormItem">
        <div class="img-box">
          <img src="{{isThemeDark() ? 'assets/icons/password-icon-dark.svg' : 'assets/icons/password-icon-light.svg'}}">
        </div>
        <input type="password" placeholder="Старый пароль" formControlName="oldPassword">
      </div>
      <div class="dialogFormItem">
        <div class="img-box">
          <img src="../../../../assets/icons/password-icon-red.svg">
        </div>
        <input type="password" placeholder="Новый пароль" formControlName="newPassword">
      </div>
      <div class="dialogFormItem">
        <div class="img-box" style="border-color: rgba(255,255,255,0)"></div>
        <input type="password" placeholder="Повторите пароль" formControlName="confirmPassword">
      </div>
      <button class="filled accent" (click)="changePassword()">ИЗМЕНИТЬ</button>
    </form>
  </div>
</app-dialog>
